<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="operationLogger" type="Terrasoft.Core.OperationLog.OperationLoggerConfigurationSection, Terrasoft.Core" />
    <sectionGroup name="terrasoft" type="Terrasoft.Core.Tests.Settings.AppTestConfigurationSectionGroup, Terrasoft.Core.Tests">
      <section name="sysSettings" type="Terrasoft.Core.SysSettingsConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <sectionGroup name="resources" type="Terrasoft.Common.ResourceConfigurationSectionGroup, Terrasoft.Common">
        <section name="cultures" type="Terrasoft.Common.ResourceCulturesSection, Terrasoft.Common" requirePermission="false" />
        <section name="generalSettings" type="Terrasoft.Common.ResourceGeneralSettingsSection, Terrasoft.Common" requirePermission="false" />
      </sectionGroup>
      <section name="unitTests" type="Terrasoft.Core.Tests.Settings.UnitTestsSection, Terrasoft.Core.Tests" />
      <section name="dbTypes" type="Terrasoft.Core.Tests.Settings.DBTypesSection, Terrasoft.Core.Tests" />
      <section name="managers" type="Terrasoft.Core.ManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="schemaManagers" type="Terrasoft.Core.SchemaManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="pageSchemaControlTypes" type="Terrasoft.UI.WebControls.PageSchemaControlTypeConfigurationSection, Terrasoft.UI.WebControls" requirePermission="false" />
      <sectionGroup name="db" type="Terrasoft.Core.DB.DBConfigurationSectionGroup, Terrasoft.Core">
        <section name="general" type="Terrasoft.Core.DB.DBConfigurationSection, Terrasoft.Core" requirePermission="false" />
        <section name="mssql" type="Terrasoft.DB.MSSql.MSSqlConfigurationSection, Terrasoft.DB.MSSql" requirePermission="false" />
      </sectionGroup>
      <section name="storeDataAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="storeCacheAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <terrasoft>
    <secureText initializationVector="mHybCHNqfMYA883P" currentKey="GSYAHAGCBDUUADIADKOPAAAW" />
    <resources>
      <cultures>
        <culture name="ru-RU" />
        <culture name="en-US" />
      </cultures>
    </resources>
    <!--<unitTests applicationPath=".\" workspaceName="Default" />
    <dbTypes>
      <dbType name="MSSql" userName="Supervisor" password="Supervisor" />
    </dbTypes>-->
    <managers>
      <manager scope="app" name="DataValueTypeManager" type="Terrasoft.Core.DataValueTypeManager, Terrasoft.Core" />
      <manager scope="app" name="SystemValueManager" type="Terrasoft.Core.SystemValueManager, Terrasoft.Core" />
      <manager scope="app" name="DesignModeValuesProviderManager" type="Terrasoft.Core.DesignModeValuesProviderManager, Terrasoft.Core" />
      <manager scope="app" name="PageSchemaControlTypeManager" type="Terrasoft.UI.WebControls.PageSchemaControlTypeManager, Terrasoft.UI.WebControls" />
      <manager scope="app" name="LicManager" type="Terrasoft.Core.LicManager, Terrasoft.Core" />
      <manager scope="user" name="ProfileManager" type="Terrasoft.Core.Profiles.ProfileManager, Terrasoft.Core" />
      <manager scope="user" name="DBMetaActionManager" type="Terrasoft.Core.DB.DBMetaActionManager, Terrasoft.Core" />
      <manager scope="app" name="ProcessSchemaElementManager" type="Terrasoft.Core.Process.ProcessSchemaElementManager, Terrasoft.Core" />
    </managers>
    <schemaManagers>
      <manager name="EntitySchemaManager" type="Terrasoft.Core.Entities.EntitySchemaManager, Terrasoft.Core" compileDependencies="ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ProcessUserTaskSchemaManager" type="Terrasoft.Core.Process.ProcessUserTaskSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager" />
      <manager name="ProcessSchemaManager" type="Terrasoft.Core.Process.ProcessSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="DcmSchemaManager" type="Terrasoft.Core.DcmProcess.DcmSchemaManager, Terrasoft.Core" compileDependencies="" />
      <manager name="CampaignSchemaManager" type="Terrasoft.Core.Campaign.CampaignSchemaManager, Terrasoft.Core"  compileDependencies="" />
      <manager name="PageSchemaManager" type="Terrasoft.UI.WebControls.PageSchemaManager, Terrasoft.UI.WebControls" compileDependencies="ImageListSchemaManager" />
      <manager name="ImageListSchemaManager" type="Terrasoft.Core.ImageListSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ReportSchemaManager" type="Terrasoft.Reports.ReportSchemaManager, Terrasoft.Reports" compileDependencies="EntitySchemaManager,ValueListSchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="SourceCodeSchemaManager" type="Terrasoft.Core.SourceCodeSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,ValueListSchemaManager,ProcessUserTaskSchemaManager,PageSchemaManager,ProcessSchemaManager" />
      <manager name="ValueListSchemaManager" type="Terrasoft.Core.ValueListSchemaManager, Terrasoft.Core" compileDependencies="EntitySchemaManager,SourceCodeSchemaManager,ProcessUserTaskSchemaManager" />
      <manager name="ClientUnitSchemaManager" type="Terrasoft.Core.ClientUnitSchemaManager, Terrasoft.Core" compileDependencies="" />
      <manager name="ServiceSchemaManager" type="Terrasoft.Services.ServiceSchemaManager, Terrasoft.Services" />
    </schemaManagers>
    <pageSchemaControlTypes>
      <pageSchemaControlType id="{FD1E14CB-5EC2-48D5-A3ED-37BF6C72D594}" name="HtmlPageContainer" caption="@Terrasoft.UI.WebContols, HtmlPageContainer.Caption" typeName="Terrasoft.UI.WebControls.Controls.HtmlPageContainer, Terrasoft.UI.WebControls" groupName="Containers" groupCaption="Containers" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{bc66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceStructureColumn" caption="@Terrasoft.UI.WebContols, DataSourceStructureColumn.Caption" typeName="Terrasoft.UI.WebControls.Controls.DataSourceStructureColumn, Terrasoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{cc66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceStructureColumnCollection" caption="@Terrasoft.UI.WebContols, DataSourceStructureColumnCollection.Caption" typeName="Terrasoft.UI.WebControls.Controls.DataSourceStructureColumnCollection, Terrasoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{dc66795d-cd88-4c02-8be7-498b591eda84}" name="EntityDataSourceStructure" caption="@Terrasoft.UI.WebContols, EntityDataSourceStructure.Caption" typeName="Terrasoft.UI.WebControls.Controls.EntityDataSourceStructure, Terrasoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{ec66795d-cd88-4c02-8be7-498b591eda84}" name="VirtualDataSourceStructure" caption="@Terrasoft.UI.WebContols, VirtualDataSourceStructure.Caption" typeName="Terrasoft.UI.WebControls.Controls.VirtualDataSourceStructure, Terrasoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{fc66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceFilter" caption="@Terrasoft.UI.WebContols, DataSourceFilter.Caption" typeName="Terrasoft.UI.WebControls.Controls.DataSourceFilter, Terrasoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{fa66795d-cd88-4c02-8be7-498b591eda84}" name="DataSourceFilterCollection" caption="@Terrasoft.UI.WebContols, DataSourceFilterCollection.Caption" typeName="Terrasoft.UI.WebControls.Controls.DataSourceFilterCollection, Terrasoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{D289A893-837D-4CD8-A3DE-18E750CD0378}" name="ReportPreview" caption="@Terrasoft.UI.WebContols, ReportPreview.Caption" typeName="Terrasoft.UI.WebControls.Controls.ReportPreview, Terrasoft.UI.WebControls" groupName="Complex" groupCaption="Complex" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{51419536-BAD1-453C-9E33-16BE4470E19B}" name="HtmlEdit" caption="@Terrasoft.UI.WebContols, HtmlEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.HtmlEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{F92F3C17-6373-44BA-8981-AE5AF1A6314C}" name="Chart" caption="@Terrasoft.UI.WebContols, Chart.Caption" typeName="Terrasoft.UI.WebControls.Controls.Chart, Terrasoft.UI.WebControls" groupName="Complex" groupCaption="Complex" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{FBD65A33-ACA7-4CE9-B260-D1559BE9C52B}" name="ChartSeries" caption="@Terrasoft.UI.WebContols, ChartSeries.Caption" typeName="Terrasoft.UI.WebControls.Controls.ChartSeries, Terrasoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{A5E36043-A917-45AD-8DD9-9E79E120A295}" name="ChartXAxis" caption="@Terrasoft.UI.WebContols, ChartXAxis.Caption" typeName="Terrasoft.UI.WebControls.Controls.ChartXAxis, Terrasoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{FCD11389-8D77-40AC-A1E1-AC41842B4AEC}" name="ChartYAxis" caption="@Terrasoft.UI.WebContols, ChartYAxis.Caption" typeName="Terrasoft.UI.WebControls.Controls.ChartYAxis, Terrasoft.UI.WebControls" groupName="Tools" groupCaption="Tools" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{03970BF3-2025-4274-A85B-F17F745FE758}" name="ControlLayout" caption="@Terrasoft.UI.WebContols, ControlLayout.Caption" typeName="Terrasoft.UI.WebControls.Controls.ControlLayout, Terrasoft.UI.WebControls" groupName="LayoutManagement" groupCaption="LayoutManagement" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{CDE9E1A5-AF9A-4b0d-8D2D-EA886A9CE9F1}" name="TabPanel" caption="@Terrasoft.UI.WebContols, TabPanel.Caption" typeName="Terrasoft.UI.WebControls.Controls.TabPanel, Terrasoft.UI.WebControls" groupName="LayoutManagement" groupCaption="LayoutManagement" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{C0D9554A-42EB-45E8-96CC-82D5A546616E}" name="MultiLevelTabs" caption="@Terrasoft.UI.WebContols, MultiLevelTabs.Caption" typeName="Terrasoft.UI.WebControls.Controls.MultiLevelTabs, Terrasoft.UI.WebControls" groupName="LayoutManagement" groupCaption="LayoutManagement" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{BF071EA5-E6A8-4753-A0AF-5D5E88E4EBE9}" name="TabHeader" caption="@Terrasoft.UI.WebContols, TabHeader.Caption" typeName="Terrasoft.UI.WebControls.Controls.TabHeader, Terrasoft.UI.WebControls" groupName="LayoutManagement" groupCaption="LayoutManagement" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{CFA34329-A2C7-443c-A6D4-47E172C7616A}" name="Tab" caption="@Terrasoft.UI.WebContols, Tab.Caption" typeName="Terrasoft.UI.WebControls.Controls.Tab, Terrasoft.UI.WebControls" groupName="LayoutManagement" groupCaption="LayoutManagement" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{4A99C589-2F5B-41CD-828C-2E415B292B32}" name="ImageList" caption="@Terrasoft.UI.WebContols, ImageList.Caption" typeName="Terrasoft.UI.WebControls.Controls.ImageList, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{E142E3B5-8127-4A62-AEA3-97A8AB57347D}" name="ImageListItem" caption="@Terrasoft.UI.WebContols, ImageListItem.Caption" typeName="Terrasoft.UI.WebControls.Controls.ImageListItem, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{E3727FB1-F911-4624-B313-A1469F0D1F79}" name="TreeGrid" caption="@Terrasoft.UI.WebContols, TreeGrid.Caption" typeName="Terrasoft.UI.WebControls.Controls.TreeGrid, Terrasoft.UI.WebControls" groupName="Data" groupCaption="Data" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{CE449A0A-B506-4533-9A0E-FDEDEDB25223}" name="Button" caption="@Terrasoft.UI.WebContols, Button.Caption" typeName="Terrasoft.UI.WebControls.Controls.Button, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{35237997-6940-4106-98C1-7452922FD90B}" name="Label" caption="@Terrasoft.UI.WebContols, Label.Caption" typeName="Terrasoft.UI.WebControls.Controls.Label, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{10A6E6CF-1415-4b9a-9BB1-7EFE6F636D9D}" name="TextEdit" caption="@Terrasoft.UI.WebContols, TextEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.TextEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{DA409670-9B62-40e7-A0A5-13506F9304B7}" name="IntegerEdit" caption="@Terrasoft.UI.WebContols, IntegerEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.IntegerEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{6E7FB250-2892-4570-9614-CACCF2F8D63E}" name="FloatEdit" caption="@Terrasoft.UI.WebContols, FloatEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.FloatEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{3E4256CB-C5F7-474c-BD97-85DF83934AB4}" name="DateTimeEdit" caption="@Terrasoft.UI.WebContols, DateTimeEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.DateTimeEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{233F52B8-C08D-46c6-894C-81798E025A11}" name="CheckBox" caption="@Terrasoft.UI.WebContols, CheckBox.Caption" typeName="Terrasoft.UI.WebControls.Controls.CheckBox, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{D8FE9E0E-E487-47a2-A989-59F193B714CA}" name="RadioButton" caption="@Terrasoft.UI.WebContols, RadioButton.Caption" typeName="Terrasoft.UI.WebControls.Controls.RadioButton, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{5C30F4BF-087E-4ef9-88C4-0EDF24F4A9D9}" name="ComboBoxEdit" caption="@Terrasoft.UI.WebContols, ComboBoxEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.ComboBoxEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{59DD375C-F86B-4e6a-BE3A-B7BE2D44B082}" name="LookupEdit" caption="@Terrasoft.UI.WebContols, LookupEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.LookupEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{5110A03B-376E-4048-8451-77195F86EFF5}" name="MemoEdit" caption="@Terrasoft.UI.WebContols, MemoEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.MemoEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{75B23119-2AA1-44e3-90EB-31DA0A1C97AD}" name="ColorEdit" caption="@Terrasoft.UI.WebContols, ColorEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.ColorEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{58F74A9E-22CE-4FEE-88CC-899E5C9988C2}" name="UnitEdit" caption="@Terrasoft.UI.WebContols, UnitEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.UnitEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{40581724-250E-4F5E-8A3E-624CEBD3C74E}" name="DimensionEdit" caption="@Terrasoft.UI.WebContols, DimensionEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.DimensionEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{C9177C5A-653F-4397-A653-8ADF9B4AD3C0}" name="ToolButton" caption="@Terrasoft.UI.WebContols, ToolButton.Caption" typeName="Terrasoft.UI.WebControls.Controls.ToolButton, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{5AEFE895-2C1B-4029-899E-0B51B3D87634}" name="ImageBox" caption="@Terrasoft.UI.WebContols, ImageBox.Caption" typeName="Terrasoft.UI.WebControls.Controls.ImageBox, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{543E6939-AB5A-42ea-ABAB-4CB382AE806F}" name="Menu" caption="@Terrasoft.UI.WebContols, Menu.Caption" typeName="Terrasoft.UI.WebControls.Controls.Menu, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{D407F739-133F-4d8c-96A9-618EDDA14329}" name="EntityDataSource" caption="@Terrasoft.UI.WebContols, EntityDataSource.Caption" typeName="Terrasoft.UI.WebControls.Controls.EntityDataSource, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{91D8F150-B93B-408f-8328-2CD416818576}" name="HiddenField" caption="@Terrasoft.UI.WebContols, HiddenField.Caption" typeName="Terrasoft.UI.WebControls.Controls.HiddenField, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{07EC5C8A-896D-4a33-A02A-BE8922B6E96F}" name="PageContainer" caption="@Terrasoft.UI.WebContols, PageContainer.Caption" typeName="Terrasoft.UI.WebControls.Controls.PageContainer, Terrasoft.UI.WebControls" groupName="Container" groupCaption="Container" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{51FEE583-9A2E-4d9a-9FDF-28F4C9271DC2}" name="SilverlightContainer" caption="@Terrasoft.UI.WebContols, SilverlightContainer.Caption" typeName="Terrasoft.UI.WebControls.Controls.SilverlightContainer, Terrasoft.UI.WebControls" groupName="Container" groupCaption="Container" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{43AC3C03-8B06-4630-9F41-57249CD97DE1}" name="MessagePanel" caption="@Terrasoft.UI.WebContols, MessagePanel.Caption" typeName="Terrasoft.UI.WebControls.Controls.MessagePanel, Terrasoft.UI.WebControls" groupName="Other" groupCaption="Other" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{65732A22-AF7F-40c2-B906-5E9C832965A3}" name="Spacer" caption="@Terrasoft.UI.WebContols, Spacer.Caption" typeName="Terrasoft.UI.WebControls.Controls.Spacer, Terrasoft.UI.WebControls" groupName="Other" groupCaption="Other" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{2c41d0e3-1b4c-4968-a357-217850d583bf}" name="MenuItem" caption="@Terrasoft.UI.WebContols, MenuItem.Caption" typeName="Terrasoft.UI.WebControls.Controls.MenuItem, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{3c41d0e3-1b4c-4968-a357-217850d583bf}" name="MenuSeparator" caption="@Terrasoft.UI.WebContols, MenuSeparator.Caption" typeName="Terrasoft.UI.WebControls.Controls.MenuSeparator, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{4c41d0e3-1b4c-4968-a357-217850d583bf}" name="CheckMenuItem" caption="@Terrasoft.UI.WebContols, CheckMenuItem.Caption" typeName="Terrasoft.UI.WebControls.Controls.CheckMenuItem, Terrasoft.UI.WebControls" groupName="NonVisual" groupCaption="NonVisual" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{32FBF276-6295-46D6-82AA-60280EAAB431}" name="FileUploadEdit" caption="@Terrasoft.UI.WebContols, FileUploadEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.FileUploadEdit, Terrasoft.UI.WebControls" groupName="Field" groupCaption="Field" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{55209B21-DEA0-4744-B3A5-E4547D6977A0}" name="ScheduleEdit" caption="@Terrasoft.UI.WebContols, ScheduleEdit.Caption" typeName="Terrasoft.UI.WebControls.Controls.ScheduleEdit, Terrasoft.UI.WebControls" groupName="Other" groupCaption="Other" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
      <pageSchemaControlType id="{B846DA27-69B9-4931-9E10-CB1F45C1E598}" name="FileUploadButton" caption="@Terrasoft.UI.WebContols, FileUploadButton.Caption" typeName="Terrasoft.UI.WebControls.Controls.FileUploadButton, Terrasoft.UI.WebControls" groupName="Standart" groupCaption="Standart" generatorTypeName="Terrasoft.UI.WebControls.GeneralControlGenerator, Terrasoft.UI.WebControls" />
    </pageSchemaControlTypes>
    <storeDataAdapters>
      <storeAdapter levelName="Request" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core" />
      <storeAdapter levelName="Session" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core" />
    </storeDataAdapters>
    <storeCacheAdapters>
      <storeAdapter levelName="Session" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core">
      </storeAdapter>
      <storeAdapter levelName="Workspace" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core">
      </storeAdapter>
      <storeAdapter levelName="Application" type="Terrasoft.Core.Store.ConcurrentDictionaryAdapter, Terrasoft.Core">
      </storeAdapter>
    </storeCacheAdapters>
    <db>
      <general securityEngineType="Terrasoft.DB.MSSql.MSSqlSecurityEngine, Terrasoft.DB.MSSql" executorType="Terrasoft.DB.MSSql.MSSqlExecutor, Terrasoft.DB.MSSql" engineType="Terrasoft.DB.MSSql.MSSqlEngine, Terrasoft.DB.MSSql" metaEngineType="Terrasoft.DB.MSSql.MSSqlMetaEngine, Terrasoft.DB.MSSql" metaScriptType="Terrasoft.DB.MSSql.MSSqlMetaScript, Terrasoft.DB.MSSql" typeConverterType="Terrasoft.DB.MSSql.MSSqlTypeConverter, Terrasoft.DB.MSSql" connectionStringName="mssqlUnitTest" binaryPackageSize="1048576" currentSchemaName="dbo" />
    </db>
  </terrasoft>
  <connectionStrings>
    <add name="mssqlUnitTest" connectionString="Data Source=tscore-dev-10\mssql2016; Initial Catalog=SE_7102ENU_DevSoftkey_ABondarenko; Persist Security Info=True; MultipleActiveResultSets=True; Integrated Security=SSPI; Pooling = true; Max Pool Size = 100; Async = true" />
  </connectionStrings>
  <appSettings>
    <add key="UseDBSequence" value="true" />
  </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Terrasoft.Common" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.0.0.65535" newVersion="0.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Terrasoft.Core" publicKeyToken="edaadfbc3b0bb879" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.0.0.65535" newVersion="0.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.6.0" newVersion="3.1.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>